.is-boxed {
    background: color(bg, 2);
}

.content {
    background: color(bg, 1);
    overflow: hidden;
    padding: 0 24px;
    max-width: 1024px;
    margin: 0 auto;
    
    /* Sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

main {
    flex: 1 0 auto;
}

@include media( '>medium' ) {
    .content {
        padding-left: 96px;
    }
    
    .content-inner {
        max-width: 448px;
    }
}
